.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  display: flex;

  justify-content: center;
  gap: 50px;
  width: 600px;
  margin: 0px auto;
  margin-top: 70px;
  /* align-items: center;
  justify-content: center;
  gap: 15px;

  margin-top: 120px; */
}
/* .bttn {
  color: #444;
  padding: 9px 18px;
  border: none;
  cursor: pointer;
} */

/* .list {
  display: flex;
} */
.list a {
  border-radius: 4px;
  text-decoration: none;
  list-style-type: none;
  padding: 9px 18px;
  color: #444;
  cursor: pointer;
  letter-spacing: 1.4px;
  background-color: #928c7f;
}
/* .list a:hover,
.list a.active {
  background-color: #e4b14d;
  color: #444;
} */
.list a:hover,
.list a.active {
  background-color: #e4b14d;
  color: #444;
}
