nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 30px auto;
}
.list {
  display: flex;
}
.list a {
  text-decoration: none;
  list-style-type: none;
  padding: 0 17px;
  color: #fbd997;
  cursor: pointer;
  letter-spacing: 1.4px;
}
.list a:hover,
.list a.active {
  color: #e4b14d;
  text-decoration: underline;
}
/* .signup {
} */
.signup input {
  font-size: 12px;
  padding: 7px;
  border: none;
}
.signup button {
  font-size: 12px;
  padding: 7px;
  border: none;
}
