.event_tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  margin-top: 120px;
}
.event_tabs button {
  color: #444;
  padding: 9px 18px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.event_tabs {
  display: flex;
}
.event_tabs button {
  text-decoration: none;
  list-style-type: none;
  padding: 9px 18px;
  color: #fbd997;
  cursor: pointer;
  letter-spacing: 1.4px;
  background-color: #999;
}
.event_tabs button:hover,
.event_tabs button.active {
  background-color: #e4b14d;
  color: #444;
}
